/* You can add global styles to this file, and also import other style files */

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap:wrap;
}
.row-eq-height > div {margin:10px 0;border-bottom:1px solid #ccc;    padding: 15px 0;}

h5{word-wrap: break-word;}
