# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/web/documentation

# dependencies
/web/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# Server files
/server/*.csv
/server/*.dat
/server/*.iml
/server/*.log
/server/*.out
/server/*.pid
/server/*.seed
/server/*.swo
/server/*.swp
/server/*.tgz
/server/*.xml
/server/.DS_Store
/server/.idea
/server/.project
/server/.strong-pm
/server/coverage
/server/node_modules
/server/client
/server/npm-debug.log

# Contentful
/contentful/node_modules
/contentful/.vscode