@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css';

@media screen and (max-width:600px){
    .col-xxs-3{width:25% !important; padding-left:15px; padding-right:15px; position:relative; float:left;}
    .col-xxs-4{width:33.33% !important; padding-left:15px; padding-right:15px; position:relative;float:left;}
    .col-xxs-6{width:50% !important; padding-left:15px; padding-right:15px; position:relative;float:left;}
    .col-xxs-9{width:75% !important; padding-left:15px; padding-right:15px; position:relative;float:left;}
    .col-xxs-12{width:100% !important; padding-left:15px; padding-right:15px; position:relative;float:left;}
    .sites-list{flex-wrap:wrap;}
    .site-item{width:33.33%;}
    .site-1{width:30%;}
    .site-2{width:30%;}
    .site-3{width:30%;}
    .site-4{width:30%; }
    
    .banner-text img{width: 75px;}
    }
    @media screen and (max-width:480px){
    .col-xxxs-1{width:8.33% !important; padding-left:15px; padding-right:15px; position:relative;float:left;}
    .col-xxxs-2{width:16.66% !important; padding-left:15px; padding-right:15px; position:relative;float:left;}
    .col-xxxs-3{width:25% !important; padding-left:15px; padding-right:15px; position:relative;float:left;}
    .col-xxxs-4{width:33.33% !important; padding-left:15px; padding-right:15px; position:relative;float:left;}
    .col-xxxs-6{width:50% !important; padding-left:15px; padding-right:15px; position:relative;float:left;}
    .col-xxxs-10{width:83.34% !important; padding-left:15px; padding-right:15px; position:relative;float:left;}
    .col-xxxs-11{width:91.64% !important; padding-left:15px; padding-right:15px; position:relative;float:left;}
    .col-xxxs-12{width:100% !important; padding-left:15px; padding-right:15px; position:relative;float:left;}
    footer{text-align:center;}
    .site-item{width:50%;}
    .news-item h4{font-size:16px;}
    .site-1{width:30%;}
    .site-2{width:30%;}
    .site-3{width:30%;}
    .site-4{width:30%;}
    
    .map+p {bottom: -10% !important;}
    }
    
    body{
        font-family: 'Lato', sans-serif !important;
        overflow-x:hidden;
        color:#4a4a4a;
        font-size: 15px;
    }
    .margin0{
        margin:0;
    }
    .margint5{
        margin-top:5px;
    }
    .marginb5{
        margin-bottom:5px;
    }
    .margint10{
        margin-top:10px;
    }
    .marginb10{
        margin-bottom:10px;
    }
    .margint15{
        margin-top:15px;
    }
    .margint20{
        margin-top:20px;
    }
    .marginb20{
        margin-bottom:20px;
    }
    .paddingt5{
        padding:5px;
    }
    .padding0{
        padding:0;
    }
    .padding10{
        padding:10px;
    }
    .padding15{
        padding:15px;
    }
    .paddingb75{padding-bottom:75px;}
    .paddingh0{
        padding-left:0;
        padding-right:0;
    }
    .paddingh15{
        padding-left:15px;
        padding-right:15px;
    }
    .shadow-1{
        box-shadow: 0px 2px 4px 2px #ddd;
    }
    video{
        width:100%;
    }
    img{
        max-width:100%;
    }
    .logo img{
        max-height:50px;
    }
    .responsive-video {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
        background-image:url('https://diksha.gov.in/images/loading.gif');
        background-position:center center;
        background-repeat:no-repeat;
        background-size:100px 100px;
        
    }
    .responsive-video iframe ,
    .responsive-video video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius:5px;
    }
    
    a{
        text-decoration:none;
        color:#4a4a4a;
    }
    a:hover,
    a:active,
    a:focus,
    a.no-underline:hover,
    a.no-underline:active,
    a.no-underline:focus{color: #4A90E2;/*color:#e76026;*/text-decoration:none;}
    
    .text-orange{color:#e76026;}
    .text-pink{color:#ffb595;}
    .text-white{color:#fff;}
    .text-lightgray{color:#fafafa;}
    .text-blue{	color: #005DA2;}
    /*.text-gray{	color: #e9eaea;}*/
    .text-gray{	color: #888;}
    .text-green{color:#8ec985;}
    .bg-blue{background: #005DA2;}
    .bg-gray{background: #F2F4F5;}
    .bg-lightgray{background: #fafafa;}
    .bg-white{background:#fff;}
    
    .btn{padding:10px 20px !important;margin: 3px 0;border:0;}
    .btn-default{border:1px solid #005DA2; color:#005DA2;}
    .btn-default:hover, .btn-default:focus,
    .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{background-color:#337ab7;color:#fff;border:1px solid #337ab7;}
    .btn-primary{border:1px solid #337ab7;}
    .btn-primary:focus,.btn-primary:hover{background-color:#8EBDF3;color:#fff;border:1px solid #8EBDF3;}
    
    .header {
         padding-top: 15px;
        padding-bottom: 15px;
        border-bottom:1px solid #ccc;
    }
    h1.logo {
        margin: 0;
        padding: 0;
    }
    .h1, h1,.h2, h2{font-size:24px; color: #005DA2; font-weight:bold; margin-bottom: 30px;}
    .h3, h3 {font-size: 22px;}
    .h4, h4 {font-size: 18px;}
    .h5, h5 {font-size: 16px;}
    .strong{font-weight:bold;}
    .absolute{position:absolute;}
    ul li{margin-bottom: 10px;}
    hr{    border-color: #b9b9b9;  margin-top: 60px !important /*same as top-space margin*/;}
    hr.margint20{margin-top:20px !important;}
    
    .nav>li{margin-bottom:0;}
    .nav>li>a,.nav .open>a{
        transition: color 0.25s ease-out;
        padding: 13px 7px;
        font-size: 93%;
    }
    .nav>li>a.btn{padding:10px 10px !important;}
    .nav>li>a:focus,
    .nav>li>a:hover, .nav .open>a:focus, .nav .open>a:hover{
        background-color: transparent;
    }
    .nav>li>a.btn-primary:focus,
    .nav>li>a.btn-primary:hover{background-color:#8EBDF3;}
    
    .navbar-toggle{
        margin:0;
        padding:4px 20px;
    }
    .navbar-collapse.in{
        z-index: 2;
    }
    .nav-fix{
        position:fixed;
        top:0;
        left:0;
        right:0;
        z-index:99;
        height: 58px;
        padding: 5px 0;
    }
    .nav-fix .logo img {
        max-height: 48px;
    }
    
    .nav-tabs>li>a:focus, .nav-tabs>li>a:hover, .nav-tabs .open>a:focus, .nav-tabs .open>a:hover,
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #4A90E2;
    }
    
    .hash-fix:before{
        display: block; 
        content: " "; 
        visibility: hidden;
        margin-top:-60px;
        height:60px;
    }
    .header-bg{
        background:url('https://diksha.gov.in/images/our-teachers-our-heroes.jpg') 0 0 no-repeat;
        background-size: auto;
        height:360px;
        position:relative;
    }
    .banner-text{top: 5%;left: 15%;width: 70%;} 
    .big-text{font-size:24px;}
    .banner-text > div {border:1px solid #fff;}
    .help-btn{bottom:5%; right:5%;padding:6px 20px !important;}
    
    .top-space{
        margin-top:20px;
    }
    .slogan span{
        font-size:18px;
        font-weight:bold;
        color:#ed653e;
    }
    .slogan strong{
        color:#fff;
        font-size: 40px;
        line-height: 50px;
    }
    .readMore,
    .readLess{
        cursor:pointer;
    }
    .quote{
        text-align:center;
        padding:30px 0;
    }
    .owl-carousel .owl-item .quote-personImg img{
        border-radius:50%;
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }
    .quote-text{
        font-size: 14px;
        margin: 20px;
        position:relative;
        padding:5px;
        /*font-weight:300 Light;*/
    }
    .quote-text:before,
    .quote-text:after{
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position:absolute;
        top:-5px;
    }
    .quote-text:before{
        content: "\f10d";
        left:-15px;
    }
    .quote-text:after{
        content: "\f10e";
        right:-15px;
    }
    .quote-personName{
        font-size:20px;
    }
    .quote-personPosition{
    }
    .owl-nav{
        position:absolute;
        top:100px;
        width:100%;
        display:flex;
        justify-content:space-between;
        transform: translateY(-50%);
        font-size:42px;
        color:#777;
    }
    .owl-dots{
        display:flex;
        justify-content:center;
    }
    .owl-dot{
        height:8px;
        width:8px;
        border-radius:50%;
        border:1px solid #ccc;
        margin:3px;
        background-color:rgba(0,0,0,0.7);
    }
    .owl-dot {
        border: 1px solid #666;
        margin: 3px;
        background-color: transparent;
    }
    .owl-dot.active{
        border:1px solid #ed653e;
        background-color:#ed653e;
    }
    .milestone{
        position:relative;
    }
    .milestone-details{
        padding:20px 30px;
    }
    .milestone-date{
        font-weight:bold;
        margin-bottom:10px;
        font-size: 16px;
    }
    .journey-carousel .owl-nav{
        color: #fff;
        text-shadow:0 0 1px #ccc;
    }
    .owl-nav div{
        padding:25px;
    }
    
    .tour .carousel-control{color:#4a4a4a;width:7%;background:none;}
    .tour .carousel-inner{padding-bottom:30px;}
    .tour .carousel-inner .item{border-bottom: 1px solid #ccc;}
    .tour .carousel-indicators li{border-color:#4A90E2;}
    .tour .carousel-indicators .active{background-color:#4A90E2;}
    .tour .carousel-indicators{ bottom: 4px; text-align: right; left: auto; right: 10px; margin:0;}
    .tour-section{bottom: 4px; text-align: left; left: 10px; position:absolute;}
    .tour .carousel-inner>.item>a>img,.tour .carousel-inner>.item>img {border-radius: 6px 6px 0 0; margin:0 auto;} 
    .tour .thumbnail img{border-bottom:1px solid #4A90E2;}
    
    
    .playlist{
        padding:15px;
    }
    .playlist-cover {
        overflow-y:auto;
    }
    .playlist-list-item{
        margin:0 0 15px 0;
        cursor:pointer;
        display:flex;
        align-items: center;
    }
    .playlist-list-item>span{
        color:#555;
        font-size:15px;
        width:calc(100% - 25px);
    }
    
    .playlist-list-item a,
    .playlist-list-item a:hover,
    .playlist-list-item a:active,
    .playlist-list-item a:focus{
        /*color:#555;*/
        text-decoration:none;
        font-size:15px;
        margin-left:auto;
    }
    .playlist-list-item.active>span{
        color: #4A90E2;
    }
    .playlist-list-item.active a,
    .playlist-list-item.active a:hover,
    .playlist-list-item.active a:active,
    .playlist-list-item.active a:focus{
        /*color:#ed653e;*/color: #4A90E2;
    }
    .playlist-list-item a i{
        font-size:24px;
    }
    .playlist-list-item.active{
        color: #4A90E2;
        font-weight:bold;
    }
    .news-item{
        margin-bottom:15px;
    }
    .news-item a,
    .news-item a:hover,
    .news-item a:active,
    .news-item a:focus{
        color:#777;
    }
    .partner img{
        height:60px;
        margin:10px 30px;
        width:auto !important;
    }
    .champions img{
        max-height:80px;
    }
    .sites-list{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .site-item{
        padding:10px;
        text-align:center;
    }
    footer{background:#4a4a4a;color:#fafafa;}
    footer a:hover,
    footer a:active,
    footer a:focus,
    footer a:visited{
        color:#fafafa;
        text-decoration:underline;
    }
    address{margin:0;}
    .alpha-list{
        list-style-type: lower-alpha;
    }
    .lower-roman{
        list-style-type: lower-roman;
    }
    .list-circle{
        list-style-type: circle;
    }
    .documents-playlist{
        margin-bottom:15px;
        padding-left:0;
        padding-right:0;
    }
    .downloads-section .panel-group{
        overflow-y:auto;
    }
    .downloads-section .panel-group::-webkit-scrollbar {
        width: 5px;
    }
    .downloads-section .panel-group::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    .downloads-section .panel-group::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
      border-radius: 20px;
    }
    .downloads-section .panel-default {
        border:0;
        box-shadow:none;
        border-radius:0;
        border-bottom: 1px solid #ddd;
        margin: 0 !important;
    }
    .downloads-section .panel-default:last-child{
        border-bottom:0;
    }
    .downloads-section .panel-heading{
        padding:0;
        background-color:transparent;
        color:#555;
    }
    .downloads-section .panel-heading a{
        display:block;
    }
    .downloads-section .panel-default>.panel-heading a[aria-expanded="true"]{
        background-color:#fff;
    }
    .downloads-section .panel-default>.panel-heading a[aria-expanded="true"] .folder-heading-right i.fa-angle-down,
    .downloads-section .panel-default>.panel-heading a[aria-expanded="false"] .folder-heading-right i.fa-angle-up{
        display:none;
    }
    .downloads-section .panel-default>.panel-heading a[aria-expanded="true"] .folder-heading{
        padding: 5px 0;
    }
    .folder-heading-title{
        font-weight:bold;
        font-size: 15px;
        padding: 3px 0;
        display: block;
    }
    .folder-heading{
        display:flex;
        width: 100%;
        align-items: center;
        padding: 15px 0;
    }
    .folder-heading-left{
        padding:10px 20px;
        font-weight:bold;
    }
    .folder-heading-left i{
        font-size:35px;
        line-height:35px;
    }
    .folder-heading-right{
        padding:10px 20px;
        font-size:20px;
        font-weight:bold;
        margin-left:auto;
    }
    .folder-heading-meta{
        display:flex;
        align-items: center;
        color:#777;
        font-size:15px;
    }
    .folder-dot{
        display:inline-block;
        height:5px;
        width:5px;
        border-radius:50%;
        background-color:#999;
        margin:0 10px;
    }
    .help-nav,
    .educators{
        border:0;
    }
    .help-nav li a{
        border:0 !important;
        color:#4a4a4a;
        font-size:16px;
    }
    .help-nav li.active a{
        border-bottom:5px solid #4A90E2/*#ed653e*/ !important;color: #4a4a4a !important;
    }
    .educators li a{
        border:0 !important;
        font-size:18px;
        text-align: center;
    }
    .educators li{
        width:50%;
    }
    
    .faqs{
        border:0;
        padding-top: 20px;
        padding-bottom: 20px;
        display:none;
    }
    .faqs li{
        width:100%;
    }
    .faqs>li>a{
        color:#333;
        border:0 !important;
        font-size: 16px;
        padding: 10px 18px;
    }
    .faqs>li.active>a{
        color: #4A90E2 !important;
        border:0 !important;
    }
    .faq-content .panel-title a{
        font-weight:bold;
        font-size:14px;
    }
    .faq-content .panel{
        box-shadow:none;
        border-bottom:2px solid #eee;
        border-radius: 0;
    }
    .faq-content .panel-body{
        border-top:0  !important;
    }
    .faq-menu-child{
        padding:0 0 0 30px;
        display:none;
    }
    .faqs li.active .faq-menu-child{
        display:block;
    }
    .faqs-submenu>li>a,
    .faqs-submenu>li>a:hover,
    .faqs-submenu>li>a:active,
    .faqs-submenu>li>a:focus{
        padding:5px;
    }
    .faqs-submenu>li>a[aria-expanded="true"]{
        font-weight:bold;
    }
    a#iframeBoxDownload[href=""]{
        display:none;
    }
    .downloads-section iframe{
        border-radius:0;
    }
    .documents-viewer{
        padding-left:0;
        padding-right:0;
    }
    .faqs-sidebar,
    .faq-content-cover{
        padding-left:0;
        padding-right:0;
    }
    
    /* svg map */
    .map{
     display: inline-block;
     position: relative;
     width: 100%;
     padding-bottom: 350px; /* 105%depends on svg ratio, for my zebra height/width = 1.2 so padding-bottom = 50% * 1.2 = 60% */
     vertical-align: middle; /* top | middle | bottom ... do what you want */
    }
    
    svg{ /* svg into : object, img or inline */
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; /* only required for <img /> */
      height:100%;
    }
    
    path {
        fill: rgb(233,234,234) /*"e9eaea"*/; 
        stroke: rgb(255,255,255) /*"#fff"*/;
        cursor: pointer;
        -webkit-transition: all 150ms;
        -moz-transition: all 150ms;
        -o-transition: all 150ms;
        transition: all 150ms;
        pointer-events: none;
    }
        
    path:hover {
        opacity: 0.85;
    }
    
    .map+p{right: 5%;bottom: 25%;}
    #championssvg path#IN-MH, #championssvg path#IN-TN, #championssvg path#IN-AP, 
    #upcomingsvg path#IN-RJ,#upcomingsvg path#IN-UP, #upcomingsvg path#IN-JK{pointer-events: all;}
    #championstates .details{padding-top:10%;}
    #upcomingstates .details{padding-top:10%;}
    /* svg map */
    
    .ticker-wrap {
      width: 100%;
      overflow: hidden;
      background-color: #337ab7; 
    }
    
    .ticker {
        color: #fff; 
        padding:7px 10px; 
        text-align:center;   
    }
    .ticker a {
        color: #fff;   
    }
    .ticker a:hover{text-decoration:underline;}
    
    .learn-more:hover, .learn-more:focus{color:#005DA2;}
    
    .pageviews .count{font-size:250%;}
    
    /*Above 480px*/
    @media only screen and (min-width: 480px){
        .map{padding-bottom:475px;}
    }
    /*Above 768px*/
    @media only screen and (min-width: 768px){
        .logo img{
            max-height:auto;
        }
        .journey .owl-dots{
            position:absolute;
            bottom:60px;
            right:30px;
        }
        .owl-dot.active{
            border:1px solid #eee;
            background-color:#eee;
        }
        .quotes .owl-dot.active{
            border:1px solid #ed653e;
            background-color:#ed653e;
        }
        .milestone-details{
            position:absolute;
            bottom:0;
            left:0;
            right:0;
            background-color:rgba(0,0,0,0.7);
            padding:20px 30px;
            color:#fff;
        }
        .faqs{
            display:block;
        }
        .educators li a{
            width:100%;
        }
        .downloads-section .bg-gray{
            background:#f5f5f5;
        }
        .documents-playlist{
            padding-left:15px;
            padding-right:15px;
        }
        .documents-viewer{
            padding-left:15px;
            padding-right:15px;
            margin-bottom:10px;
        }
        .faqs-sidebar,
        .faq-content-cover{
            padding-left:15px;
            padding-right:15px;
        }
        .nav-fix .col-sm-3{display:none;}
        .nav-fix .col-sm-9{width:100%;}
        .nav a.login span{border-left:1px solid #4a4a4a; padding-left:18px; padding-right:8px;}
    }
    /*Above 992px*/
    @media only screen and (min-width: 992px){
        .translatey50{
            transform:translateY(40px);
        }
        .header-bg {
            background-size:100%;
        }
        .top-space{
            margin-top:40px;
        }
        .quote{
            padding:30px;
        }
        .quote-text{
            font-size: 16px;
            margin: 20px 70px;
            position:relative;
            /*font-weight:300 Light;*/
        }
        .owl-nav{
            top:50%;
        }
        .site-1{
            max-width: 230px;
        }
        .banner-text{top: 5%;left: 20%;width: 60%;} 
        .big-text {font-size: 36px;}
        .nav-fix .col-sm-3{display:block;}
        .nav-fix .col-sm-9{width:75%;}
        
        #championstates .details{padding-top:30%;}
        #upcomingstates .details{padding-top:23%;}
        
        .stats img{width:73%}
    }
    /*Above 1200px*/
    @media screen and (min-width:1200px){
        .playlist-cover {
            height:360px;
        }
    }
    /*Above 1280px*/
    @media screen and (min-width: 1280px){
        .slogan{
            padding: 0 20px;
        }
        .slogan strong{
            color:#fff;
            font-size:48px;
            line-height: 60px;
        }
    }
    