<div class="container">
	<h3>{{widName}}</h3>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<div>
		<div *ngFor="let unit of localData"  class="row">
		  <div class="col-xs-4 col-md-2">
				<div class="thumbnail" *ngIf="unit | uniteMapper: localMap['image_url']; else default_image">
						<img [src]="unit | uniteMapper: localMap['image_url']" [alt]="unit | uniteMapper: localMap['caption']" class="img-rounded">
				</div>
					<ng-template #default_image>
							<div class="thumbnail">
								<img src="https://dxx7i7lrqhlk4.cloudfront.net/templates/ja_social_ii/html/com_easysocial/avatars/group/square.png" [alt]="unit | uniteMapper: localMap['caption']" class="img-rounded">
							</div>
					</ng-template>
					
			</div>
		  <div class="col-xs-8 col-sm-10">
			<h4>{{unit | uniteMapper: localMap['caption']}}</h4>
			<p [innerHTML]="unit | uniteMapper: localMap['description']"></p>
		  </div>
		</div> 
	</div>
</div>
