<div class="container">
	<h2>Icon List</h2>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<div>
		<div *ngFor="let unit of localData"  class="row">
		  <div class="col-xs-4 col-md-2"><div class="thumbnail"><img [src]="unit | uniteMapper: localMap['image_url']" [alt]="unit | uniteMapper: localMap['caption']" class="img-rounded"></div> </div>
		  <div class="col-xs-8 col-sm-10">
			<h4>{{unit | uniteMapper: localMap['caption']}}</h4>
			<p [innerHTML]="unit | uniteMapper: localMap['description']"></p>
		  </div>
		</div> 
	</div>
</div>
